.section-contato {
  display: flex;
  padding: 2rem;
  font-family: "Jost";
  align-items: center;
  background-color: #e3e3e3;
}

.section-contato > .container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 10px;
  padding: 2rem 0;
}

.section-contato .main-title {
  font-size: 3rem;
}

.section-contato .container .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
  padding: 1rem;
  background-color: var(--dark-blue);
  border-radius: 8px;
  color: aliceblue;
}

.section-contato form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 360px;
}

.section-contato form input {
  height: 40px;
}

.section-contato form textarea {
  max-width: 360px;
  max-height: 100px;
  box-sizing: border-box;
}

.section-contato .container img {
  height: 450px;
}

.right .main-button {
  border-radius: 10px;
  height: 40px;
  transition: 500ms ease-in-out;
  width: auto;
  border: none;
}

.right .main-button:hover {
  border: 2px solid #e3e3e3;
  color: var(--dourado);
  background-color: #e3e3e300;
  cursor: pointer;
}

@media (max-width: 999px) {

    .container .right h3 {
       font-size: 30px;
       text-align: center;
    }

   .section-contato .container img {
        display: none;
    }
}


@media (max-width: 480px){
  .section-contato form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    box-sizing: border-box;
  }
  
  .section-contato form input {
    height: 40px;
    max-width: 250px;
    box-sizing: border-box;
  }
  
  .section-contato form textarea {
    max-width: 250px;
    max-height: 100px;
    box-sizing: border-box;
    box-sizing: border-box;
  }
}
